body {
	background-color: grey;
	font-family: Georgia;
	}
p {
	color:white;
	}
h1 {
	color:pink;
	}
h2 {
	color:purple;
}

#start {
background-color:pink;
border:solid 1px red;
border-top-style:dotted;
}